@import "icons";
@import "../bourbon/bourbon";

html {
  font-size: 62.5%; //sets fontsize to 10px
}
body {
  font-family: 'Lusitana', serif;
  color: white;
}

@mixin fontsize($size:1.6, $line: $size * 1.5){
  font-size:   ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size:   $size + rem;
  line-height: $line + rem;
}
nav {
  display: flex;
  justify-content:flex-start;
  position: fixed;
  .films & {
    position: relative;
  }
  a {
    color: white;
    text-decoration: none;

    margin: 0.6rem 1rem 0;
    padding: 0 .5rem;
    text-transform: uppercase;
    &.here {
      font-size: 1.2em;
      text-decoration: underline;
      font-weight: 700;

    }
  }
}

.container {
  width: 100%;
  height: 100%;

  .contact &,
  .about &,
  .index & {
    display: flex;
    justify-content:center;

  }
}
.content {
  align-self: center;
  position: relative;
  top: -3rem;
  .index & {
    img {
      width: 100%;
    }
  }
  .about & {
    @include fontsize(4.5);
    padding: 0 13vh;
    font-weight: 700;
  }
}
.film {
  padding: .5rem 3rem 0;
  text-align: center;
  margin: 0 auto;
  max-width : 100rem;
  img {
    width: 100%;
    max-width: 100rem;
  }
}
.social {
  align-self : center;
  padding: 0rem 4rem;
  position: relative;
  top: -3rem;
  text-align: center;
  & > div {
    width: 20rem;
    height: 20rem;
    padding: 0 0 2rem;
    @include transition (all .2s ease-in-out);

    &.facebook {
      @include icon-facebook;
    }
    &.twitter{
      @include icon-twitter;
    }
  }
  a {
    color: white;
    text-decoration: none;
    @include fontsize(2);
    position: relative;
    top: 0;
    @include transition (all .1s ease-in-out);
  }
  &:hover{
    & > div{
      opacity : .2;
    }
    a {
      top: -12rem;
    }
  }
}

